.card{
    background-color: white;
    z-index: 0;

    display: flex;
    flex-direction: column;

    padding: 18px;

    box-shadow: 0 7px 40px rgba(0, 0, 0, 0.08), 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

    transition: all 0.25s ease;
}