.navigationCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 12px;
}

.navigation{
    display: flex;
    gap: 1rem;

    padding: 0;
    margin: 0;

    list-style: none;

    font-weight: bold;
}

.navigation > * {
    position: relative;

    padding: 4px;

    font-size: 14px;
    text-decoration: none;
    color: black;
}

.navigation > *::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: 0;

    width: 0;
    height: 2px;

    background-color: #1090c9;

    transition: width 0.3s ease;
}

.navigation > *:hover{
    cursor: pointer;
}

.navigation > *:hover::after {
    width: 100%;
}

.logo{
    width: 15%;
}