@import "tailwindcss";

html,
body,
#root {
    height: 100%;
}

.input {
    @apply w-full border border-slate-700 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-700 bg-white text-slate-900;
}

html,
body,
#root {
    min-height: 100%;
    margin: 0;
    padding: 0;
}